In [2]:
import pandas as pd
from scipy import stats

In [3]:
df=pd.read_csv('/content/employeeratings.csv')
df.head()

   Score  Rating
0   74.0     1.0
1   75.0     3.0
2   78.0     2.0
3   79.0     3.0
4   73.0     1.0

In [ ]:
corr, p = stats.spearmanr(df.Score, df.Rating)

print('Correlation=%.3f, p=%.3f' % (corr, p))
# interpretación
alpha = 0.05
if p > alpha:
	print('No rechazamos H0: Correlación no significativa.')
else:
	print('Rechazamos H0: Correlación significativa.')